// font-family -- deprecated
$primary-name: "Crimson Text", sans-serif;
$name: "Rubik", sans-serif;
$nav: "Roboto", sans-serif;
// use these
$title-font: "Roboto", sans-serif;
$subtitle-font: "Roboto", sans-serif;
$post-primary-font: "Roboto", sans-serif;
$post-secondary-font: "Roboto", sans-serif;
$headline-font: "Roboto", sans-serif;

// color
$primary-font-color: #31112c;
$primary-bg-color: #2ec1ac;
$section-color: #1e5f74;

// media-query
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 530px;

// shared width
$post-width-lg: 500px;
