@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

li {
  list-style: none;
}

header nav li, .container .social-list li {
  display: inline;
  list-style: none;
}

body {
  background-color: #2ec1ac;
}

header {
  height: 80px;
  background-color: #1e5f74;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

header nav li {
  font-size: 1.2rem;
  padding: 5px;
}

header nav li a {
  text-decoration: none;
  color: #31112c;
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .name {
  font-size: 72px;
  font-family: "Crimson Text", sans-serif;
}

@media (max-width: 768px) {
  .container .name {
    font-size: 55px;
  }
}

@media (max-width: 530px) {
  .container .name {
    font-size: 40px;
  }
}

.container .social-list {
  padding: 10px 0px 0px 0px;
}

.container .social-list li {
  padding: 40px;
}

.container .social-list li img {
  height: 50px;
  width: 50px;
}

@media (max-width: 530px) {
  .container .social-list li img {
    height: calc(50px - 10px);
    width: calc(50px - 10px);
  }
}

.container .social-list li img:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .container .social-list li {
    padding: 20px;
  }
}

@media (max-width: 530px) {
  .container .social-list li {
    padding: 5px;
  }
}
