<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/post.css">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">NA</a></li>
            </ul>
        </nav>
        <p>thoughts of a random mediocre cs enthusiast</p>
    </header>
    <div id="container">
        <div id="article">
            {{ content }}
        </div>
    </div>
</body>
</html>